// Angular Material
@import "../../bower_components/angular-material/angular-material.scss";

// Custom
@import 'partials/custom';

.md-toolbar-tools {
	background-color: #fff;
	color: #fff;
}

#map {
  height:555px;
  width:100%;
}

.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 18px;
}

h2 {
  margin-bottom:0;
  margin-top: 0;
}

.search-content {
	width: 65%;
    margin: 45px auto 15px;
	
	label {
		font-size: 18px;
	}

	.material-icons {
		font-size: 28px;
		cursor: pointer;
	}
}

.box-marker {
	font: {
		size: 16px;
		weight: 900;
	} 
	text-transform: uppercase;
	padding: 10px 10px 12px 0;
	min-width: 180px;

	.material-icons {
		position: relative;
		top: 5px;
		left: -2px;
	}
	.icon-restaurant {
		color: #f39c12;
	}
	.icon-child_care {
		color: #3498db;
	}
	.icon-person {
		color: #e74c3c;
	}
	.icon-beenhere {
		color: #2ecc71;
	}
}

.md-button.md-fab.md-fab-bottom-right {
	right: 50px;

	> span {
		font-size: 20px;
	}
}

.md-button.btn-interest {
    font: {
    	weight: 400;
    	size: 13px;
   	} 
   	width: 100%;
	background-color: #27ae60 !important;
    color: #fff !important;
    padding: 0px 16px;
    margin: 14px 0px 8px;

	.material-icons {
		position: relative;
		top: 6px;
	}
}

.btn-register, .btn-login {
	font-size: 13px;
}

.md-register {
	color: #fff !important;
}

.md-fab, .is-enabled {
	background-color: #e67e22 !important;
}

.main-logo {
	height: 26px;
}

.card-donation {
	border-bottom: 3px solid #ff327b;
}



