$cor-primaria: #e93578;
$cor-secundaria: #415877;
$cor-preto: #333;
$cor-cinza-escuro: #777;
$cor-branco: #fff;

body {
  margin: 0;
  font-family: 'Helvetica';
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 980px;
    margin: auto;
}

.Header {
    min-height: 550px;
    display: block;
    position: relative;
}

.Header::after {
    content: "";
    background: url("../images/bg-header.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

.Header__topbar {
    padding: 40px 0;
}

.Header__left {
   flex: 1;
}

.Header__right {
   flex: 1;

   ul {
      display: inline;
      float: right;
      list-style: none;
   }

   li {
      float: left;
      padding: 0 15px;

      a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 600;
          color: $cor-secundaria;
          transition: 0.3s;

          &:hover {
              opacity: 0.8;
          }
      }

   }
}
      
.Header__btnLogin {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $cor-primaria;
    padding: 15px 70px;
    color: $cor-branco !important;
    transition: 0.3s;
    border-radius: 26px;
    -webkit-box-shadow: -1px 2px 5px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px 2px 5px -1px rgba(0,0,0,0.4);
    box-shadow: -1px 2px 5px -1px rgba(0,0,0,0.4);

    &:hover {
        opacity: 1 !important;
        -webkit-box-shadow: -2px 4px 5px -1px rgba(0,0,0,0.4);
        -moz-box-shadow: -2px 4px 5px -1px rgba(0,0,0,0.4);
        box-shadow: -2px 4px 5px -1px rgba(0,0,0,0.4);
    }
}

.Header__logo {
    height: 35px;
}

.Header__tituloPrincipal {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: $cor-secundaria;
}

.Header__containerTitulo {
    display: flex;
    min-height: 400px;
}

.Header__iconeVerMais {
    font-size: 75px !important;
    color: $cor-primaria;
    margin-bottom: 80px;
    margin-top: -80px;
    transition: 0.3s;

    &:hover {
        opacity: 0.9;
    }
}

.Main__comoFunciona {
    padding: 80px 0;

    h3 {
        color: $cor-secundaria;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 70px;
        width: 100%;
    }

    .material-icons {
        font-size: 110px;
    }

    .container {
        align-items: baseline;
    }
}

.Main__agente {
    flex: 1;
    text-align: center;
    padding: 0 40px;
    color: $cor-preto;

    h4 {
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 20px 0 15px;
    }

    p {
        font-size: 14px;
    }
}

.Main__doador {
    .material-icons {
        color: $cor-secundaria;
    }
}

.Main__instituicao {
    .material-icons {
        color: $cor-secundaria;
    }
}

.Main__beneficiado {
    .material-icons {
        color: $cor-primaria;
    }
}

.Main__CTA {
    background-color: $cor-secundaria;
    padding: 60px 0;
}

.Main__CTA-left {
    font-size: 25px;
    color: $cor-branco;
    text-transform: uppercase;
    font-weight: 600;
    flex: 2;
}

.Main__CTA-right {
    flex: 1;
}

.Footer {
    padding: 120px 0 80px;
}

.Footer__left {
    flex: 1;
    text-align: left;
}

.Footer__right {
    flex: 1;
    text-align: right;
    align-items: center;

    a {
        padding: 10px;
    }

    ul {
        float: right;
        list-style: none;
        display: flex;
        align-items: center;

        li {
            display: inline;

            &:last-child a {
                margin-top: -10px;
                padding-left: 0;
                font-size: 14px;
                color: $cor-cinza-escuro;
                text-decoration: none;
            }
        }
   }
}

/* Telefones em landscape e abaixo */
@media (max-width: 480px) { 
        .Header__btnLogin {
            padding: 15px 60px;
        }
 }
/* Telefone em landscape a tablet em portrait */
@media (max-width: 767px) { 
    .Header {
        min-height: auto;
        max-height: 480px;
    }

    .Header__tituloPrincipal {
        font-size: 30px;
        margin: 15px;
    }
    
    .Header__containerTitulo {
        min-height: 300px;
    }
    
    .Main {
        .container {
            flex-direction: column;
        }
        .Main__agente {
            margin: 25px auto;
            text-align: center;
        }
        .Main__comoFunciona {
            padding: 50px 0;

            h3 {
                margin-bottom: 20px;
            }
        }
        .Main__CTA-left {
            flex: 1;
            margin: 0 20px 40px;
            text-align: center;
        }
        .Main__CTA-right {
            flex: 1;
        }
    }

    .Footer {
        .container {
            flex-direction: column;
        }
    }
 }
/* tablet em portrait a landscape e desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .Main__CTA {
        .container {
            flex-direction: column;
        }
    }
    .Main__CTA-left {
        margin-bottom: 40px;
    }
    .Footer__left {
        img {
            margin-left: 20px;
        }
    }
}
/* Desktop grande */
@media (min-width: 1200px) { 
    
 }

