//- Uma parte do GTM vai no início do <head>, e outra no início do <body>
//- Ambas só devem ser inseridas em produção

mixin gtmHead()
  if production || true
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PR5X5R');

mixin gtmBody()
  if production || true
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PR5X5R', height='0', width='0', style='display:none;visibility:hidden')
