script#panel(type='text/ng-template')

  .white-bg(layout-fill, style="height:100%; width: 100%;", layout="column", layout-align="start center")

    md-input-container.md-block.search-content
      label Endereço
      input(ng-model='address')
      md-icon.material-icons(ng-click="getAddress()") search

    md-content(style="height:60%; width: 60%;")
      #map

  md-button.md-fab.md-fab-bottom-right.md-accent(ng-click="newDonation($event)") +

script#newDonation(type='text/ng-template')
  md-dialog(aria-label='Nova Doação', style="width: 600px; max-width: 100%;")
    form(name="newDonationForm", novalidate)
      .md-padding
        h2.md-title(style="margin: 0;") Nova Doação

      md-dialog-content.md-dialog-content
        md-input-container.md-block
          label CEP
          input(ng-model='new.cep', ng-change="getAddressByCEP()", ui-br-cep-mask, type='text')
          span.ref
        md-input-container.md-block
          label Endereço
          input(ng-model='new.address', required)
        md-input-container.md-block
          label Categoria
          md-select(ng-model='new.category', required)
            md-option(ng-repeat='category in categories', ng-value='category')
              | {{category}}
        br
        md-input-container.md-block
          label Quantidade
          input(ng-model='new.amount', type='number', min="1", required)

      md-dialog-actions(layout='row')

        md-button(ng-click="new = {}")
          | Limpar tudo

        md-button(ng-click="dialogCancel()")
          | Cancelar

        md-button.md-raised.md-accent(ng-click="dialogHide('donation')", ng-disabled="newDonationForm.$invalid")
          | Adicionar


script#newScheduled(type='text/ng-template')
  md-dialog(aria-label='Agendar Coleta')
    form(name="scheduledForm", novalidate)
      .md-padding
        h2.md-title(style="margin: 0;") Agendar Coleta

      md-dialog-content
        .md-dialog-content

          md-input-container(flex, style="margin-bottom:-5px")
            label Recolher em
            md-datepicker(flex,
            ng-model="scheduled.startAt",
            md-min-date="today",
            required)

        md-dialog-actions(layout='row')
          md-button(ng-click="dialogCancel()")
            | Cancelar

          md-button.md-raised.md-accent(ng-click="dialogHide('scheduled')",
          ng-disabled="scheduledForm.$invalid")
            | Agendar
