script#panel(type='text/ng-template')

  .white-bg(flex, layout-fill, style="height:100%; width: 100%;", layout="column")

    md-input-container(flex).md-block
      label Endereço
      input(ng-model='address')
      md-icon.material-icons(ng-click="getAddress()") search

    br
    md-content
      #map

  md-button.md-fab.md-fab-bottom-right.md-accent(ng-click="") +
